.firstPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.firstPage > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstSection > div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.secondSection > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondSection > div > div button {
  width: 200px;
}

.lastSection {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.lastSection > div {
  display: flex;
  justify-content: center;
  width: 130px;
}

.lastSection > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.firstSection {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-bottom: 40px;
}
.secondSection > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.firstSection > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  background-color: black;
  color: white;
  border-radius: 15px;
  font: bold;
}
.gamePage {
  display: none;
}

.lastPage {
  width: 100%;
  height: 100vh;
  background: url("../image/result.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lastPage > div:first-child {
  color: black;
  font: bold 28px sans-serif;
  margin-bottom: 5px;
}

.lastPage > div:last-child {
  color: rgb(232, 9, 9);
  font: bold 28px sans-serif;
  margin-bottom: 5px;
}

.secondCounter {
  color: red;
  font-size: 24px;
}
.firstPage.hide {
  display: none;
}
.gamePage.show {
  display: flex;
}
.lastPage {
  display: none;
}
.progressBarContainer {
  margin: 50px 0;
}
.progress {
  --bs-progress-height: 25px;
}
.questionSection {
  display: flex;
  background-color: gray;
  width: 100%;
  padding: 60px;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  flex-direction: column;
}
.questionSection > div :first-child {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.desc {
  font: 600 20px sans-serif;
}
.answerSection {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}
.answerSection > div > div:first-child {
  height: 60px;
  color: rgb(255, 255, 255);
  background-color: rgb(57, 125, 147);
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.answerSection > div > div:last-child {
  height: 50px;
  background-color: rgb(51, 105, 97);
  color: white;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.questionSection > div {
  width: 100%;
}

.gamePage.hide {
  display: none;
}

.lastPage.show {
  display: flex;
}

.lastPage.hide {
  display: none;
}

.firstPage.show {
  display: flex;
}
