.firstPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.firstPage > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstSection > div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.secondSection > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondSection > div > div button {
  width: 200px;
}

.lastSection {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.lastSection > div {
  display: flex;
  justify-content: center;
  width: 130px;
}

.lastSection > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.firstSection {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.secondSection > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.firstSection > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 180px;
  background-color: black;
  color: white;
  border-radius: 15px;
  font: bold;
}
.gamePage {
  display: none;
}

.lastPage{
  width: 100%;
  height: 100vh;
  background: url("../image/result.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lastPage> div:first-child {
  color: black;
  font: bold 28px sans-serif;
  margin-bottom: 5px;
}

.lastPage> div:last-child {
  color: rgb(232, 9, 9);
  font: bold 28px sans-serif;
  margin-bottom: 5px;
}

.secondCounter{
  color: red;
  font-size: 24px;
}